/*  ===== RUBIK =====  */

@font-face {
  font-family: 'Rubik';
  src: url('../../fonts/Rubik/Rubik-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Rubik';
  src: url('../../fonts/Rubik/Rubik-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Rubik';
  src: url('../../fonts/Rubik/Rubik-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Rubik';
  src: url('../../fonts/Rubik/Rubik-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Rubik';
  src: url('../../fonts/Rubik/Rubik-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Rubik';
  src: url('../../fonts/Rubik/Rubik-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Rubik';
  src: url('../../fonts/Rubik/Rubik-Light.ttf');
  font-weight: 300;
}

/*  ===== GROS VENTRE =====  */

@font-face {
  font-family: 'Gros Ventre';
  src: url('../../fonts/GrosVentre/GrosVentre-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Gros Ventre';
  src: url('../../fonts/GrosVentre/GrosVentre-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Gros Ventre';
  src: url('../../fonts/GrosVentre/GrosVentre-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Gros Ventre';
  src: url('../../fonts/GrosVentre/GrosVentre-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Gros Ventre';
  src: url('../../fonts/GrosVentre/GrosVentre-Thin.ttf');
  font-weight: 100;
}

/*  ===== ONEST =====  */

@font-face {
  font-family: 'Onest';
  src: url('../../fonts/Onest/Onest-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Onest';
  src: url('../../fonts/Onest/Onest-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Onest';
  src: url('../../fonts/Onest/Onest-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Onest';
  src: url('../../fonts/Onest/Onest-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Onest';
  src: url('../../fonts/Onest/Onest-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Onest';
  src: url('../../fonts/Onest/Onest-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Onest';
  src: url('../../fonts/Onest/Onest-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Onest';
  src: url('../../fonts/Onest/Onest-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Onest';
  src: url('../../fonts/Onest/Onest-Thin.ttf');
  font-weight: 100;
}